*{
    background-color: rgba(191, 202, 201, 0.849);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
.logo-container{
    width: 150px;
}

img{
    float: left;
    background-color:#ffffff;
    width: 100%;
    height: auto;
}
.nav-link{
    font-size: 16px;
    }
.video-container{
    text-align: center;
}
video{
    background-color: black;
    width: 90%;
    height: auto; 
}
@keyframes slide {
    from{
        transform: translateX(0);
    } 
    to {
        transform: translateX(-400%);

    }
        
   
}
.carousel{
    background-color: rgba(255, 255, 255, .85);
    display: inline-flex;
    margin: 25px 0;
    overflow: hidden;
    position: relative;
}
.carousel h2{
    text-align: center;
    display: flex;
    position: relative;
}
.carousel::before{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left,rgba(204, 30, 30, 0), rgba(14, 100, 20, 0.863));
    content: "";
    z-index: 2;
}
.carousel-container:hover .carousel-slide{
    animation-play-state: paused;
}
.carousel-container{
    display: inline-flex;
    
}
.carousel-slide{
    display: grid;
    width: 65%;
    animation: 35s slide infinite linear;
}

.carousel-slide img{
    width: 400px;
    height: auto;
    margin: 5px 35px;
}
.carousel-slide h3, h4{
    text-align: center;
}


/*animation effectsx
@keyframes slide {
    from{
        transform: translateX(0);
    } 
    to {
        transform: translateX(-100%);

    }
        
   
}

.carousel{
    background-color: black;
    padding: 35px 0px;  
    position: relative; 
    place-items: center; 
    display: grid;
    white-space: nowrap;
    display: inline-block;
    flex-wrap: nowrap;
    overflow: hidden;
    
}
.carousel-container{
    display: inline-block;
}

.carousel-container h3, h4{
    color: green;
    background-color: black;
    text-align: center;
    text-decoration: none;
    margin: 5px 0;
    padding:inherit;
}
.carousel-slide{
    display: inline-block;
    width: 55%;
    height: auto;
    display: grid;
    padding:5px;
    animation: 10s slide infinite linear;
}
.carousel-slide img{
    height: auto;
    width: 100%;
   margin: 0px 15px;
}

.carousel-container:hover .carousel-slide{
    animation-play-state: paused;
}

.carousel-slide::before{
    position:absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    content: "";
    background: linear-gradient(to left,rgba(255,255,255, 0), rgba(185, 202, 186, 0.863));
}
*/