*{
    background-color: rgba(255,255,255,1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
/*navegation menu*/
.logo-container{
    width: 150px;
    height: 150px;;
}

.popup{
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.25);
    background-color: rgb(255,255,255);
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,.15);
    width: 30%;
    padding: 20px 30px;
    border-radius: 2px;
    transition: top 0ms ease-in-out 300ms;
}

.popup.active{
    top: 300%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 300ms;
}

.popup .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 4%;
    height: 3%;
    background-color: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 25px;

}

.popup .form h2{
    color: #ffffff;
    background-color: #222;
    text-align: center;
    margin: 1.5% .5% 2% .5%;
    border-radius: 5px;;
}

.popup .form .period{
    display: flex;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    width: 100%;
    
}
.popup .form .period .form-element{
    margin: 0 5% 0 0;
    padding: 0 5% 0 0;
}

.popup .form .form-element{
    margin: 2.5% 0;
}

.popup .form .form-element{
    font-size: 14px;
    color: #222;
    
    font-size: medium;
}

.popup .form .form-element select[name="days"],
.popup .form .form-element input[type="time"],
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="number"],
.popup .form .form-element textarea{
    margin-top: 3px;
    display: block;
    width: 100%;
    padding: 7px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 3px;
}
.popup .form .form-element select[name="days"]{
    margin-top: 3px;
    display: block;
    width: 100%;
    padding: 7px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.popup .form .form-element input[type="submit"]{
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #222;
    color: #ffffff;
    border-radius: 5px;
    
    font-weight: 700;
    padding: 10px 0;
    cursor:pointer;
}

video{
    width: 95%;
    height: 65%; 
}
@keyframes slide {
    from{
        transform: translateX(0);
    } 
    to {
        transform: translateX(-400%);

    }

 /*slide custumization*/       
  
}

 

.carousel{
    text-align: center;
    background-color: rgb(111, 78, 55);
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.carousel h2{
text-align: center;
padding: 25px;
}

.carousel::before{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left,rgba(204, 30, 30, 0), rgba(14, 100, 20, 0.863));
    content: "";
    z-index: 2;
}
.carousel-container:hover .carousel-slide{
    animation-play-state: paused;
}
.carousel-container{
    display: inline-flex;
    overflow: hidden;
    width: 95%;
    height: auto;
    text-align: center;
    margin:  0.25% 2.5%;
}
.carousel-slide{
    display: grid;
    
    animation: 55s slide infinite linear;
}

.carousel-slide img{
    width: 700px;
    height: 490px;
    margin: 0 25px;
    padding: 0;
}
.carousel-slide h3, h4{
    text-align: center;
    margin: 0;
    padding: 0;
}

.testimonial{
    text-align: center;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.comment-box{
    display: inline-flex;
    overflow: hidden;
    width: 95%;
    height: 15%;
    text-align: center;
    margin:  0.25% 2.5%;
   
}

.comments p{
    text-align: justify;
    
}
.comments{
    padding: 2%;
       
}


/*Menu*/
.menu-category{
    
    align-items: center;
    width:100%;
    height: auto;
    text-align: center;
    background-color: rgb(0,0,0);
    align-content: center;
}
/* rgb(111, 78, 55) - coffee rgb*/
.menus{
    background-image: url(../media/images/bg/bg-botanical.jpg);
    
    background-color: #000000;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    width: 98%;
    margin:  0.25% 1%;
    border-top: 1.5px solid white;
    border-bottom: 1.5px solid white;
    
}

.menu-box{
    
    text-align: center;
    margin: .5% 1.5%;
    background-color: #000000;
    align-content: center;
    width: 20%;
    border: 1.5px  solid rgb(0,0,0);
}
.menu-box img{
    width: 100%;
    height: 290px;
    border-radius: 50%;
    
   }
   .menu-box h4{
    text-transform: capitalize;
    font-weight: bold;
   }
   .menu-box p{
    text-align: left;
    font-style: italic;
    padding: 5%;
    border-top: #000000;
   }
   .menu-box h4 span{
    color: tomato;
    font-style: oblique;
}

.menu-heading h4:after{
    position: absolute;
    content: '';
    width: 300%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
.menu-heading h4{
    display: inline-block;
    text-transform: uppercase;
    font-size: 36px;
    margin:20px 0;
    padding-bottom: 30px;
    position: relative;
    color:rgb(255, 255, 255) ;
    background-color: #000000;
    
   
}
.menu-heading p{
    color: white;
    background-color: #000000;
    font-style: italic;
}
.menu-heading{
    max-width: 35%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1%; 
    color:rgb(111, 78, 55) ;
    background-color: #000000;
}


/*Events*/
.container{
    background-color: #000000;
    width: 100%;
    display: flex;
}
.carousel-inner img {
    width: 100%;
    height: 100%;}