*{
    background-color: #eee;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
}

/*navegation menu*/
/*LOGO*/

.navbar-brand{
    width: 200px;
    height: 200px;
    background-image: url(../media/images/bg/bg-city.jpg);
    
} 

.navbar-brand img {
    width: 100%;
    height: 90%;
    background-image: url(../media/images/bg/bg-city.jpg);
    }

#navbarSupportedContent{
    background-image: url(../media/images/bg/bg-city.jpg);
    margin-left: 25%;
}
#navbarSupportedContent li{
    background-image: url(../media/images/bg/bg-city.jpg);
    padding: 0 10%;
}
#ulnavbar a{
    background-image: url(../media/images/bg/bg-city.jpg);
    color: #eee;
    font-size: 18px;
}

#ulnavbar .dropdown-menu a:hover{
   outline: 1px solid #eee;
}

#btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #eee;
    font-size: 18px;
    background-color: red;
    cursor: pointer;
}

.reserve label{
    color:#eee;
    background-color: #222;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0 10px 15px;
}

.reserve h2{
    padding: 15px;
    text-align: center;
}

.time-and-day{
    background-color: #222;
    display: flex;
}

.reserve input[type="text"],
.reserve input[type="number"], 
.reserve input[type="time"],
.reserve input[type="submit"], #selectday, #notes{
    margin: 5px 15px 10px 15px;
    padding: 7px;
    background-image: url(../media/images/bg/bg-city.jpg);
    background-color: #696969;
    outline: 1px solid #eee;
    border:none;
    color: #eee;
}
.reserve input[type="submit"]{
    cursor: pointer;
}

.reserve {
    background-color: #222;
    display: grid;
     
}


/*POPUP*/
.popup{
    position: absolute;
    top: 0%;
    left: 50%;
    color: #eee;
    font-size: 15px;
    background-color: red;
    cursor: pointer;
    transform: translate(-50%, -0%) scale(.1);
    visibility: hidden;
    transition: 1s ease-in-out;
}

.open-popup{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
    color: #eee;
    font-size: 20px;
   
    cursor: pointer;
    
    visibility: visible;
    transition: 1s ease-in-out;
}

/*Index Page*/
/* VIDEO SETTINGS*/
.video-container{
    background-color: #222;
    text-align: center;
}
.video-container h1{
    background-color: inherit;
    color: #ffff;
}
video{
    width: 98%;
    height: 65%; 
    align-items: center;
    margin: .1% 1%;
}

/*ANIMATION SETTINGS*/
@keyframes slide {
    from{
        transform: translateX(0);
    } 
    to {
        transform: translateX(-400%);

    }   
  
}

 
/*SLIDE-SHOW SETTINGS*/
.carousel{
    text-align: center;
    background-color: #222;
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel h2{
text-align: center;
color: #ffff;
padding: 25px;
background-color: rgb(25, 206, 206);
border: teal 1px solid;
}

.carousel::before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
}
.carousel-container:hover .carousel-slide{
    animation-play-state: paused;
}
.carousel-container{
    display: inline-flex;
    overflow: hidden;
    width: 98%;
    height: auto;
    text-align: center;
    margin:  0.1% 1%;
    background-color: #222;
   
}
.carousel-slide{
    display: grid;
    background-color: #696969;
    animation: 30s slide infinite linear;background-color: #222;
}

.carousel-slide img{
    width: 700px;
    height: 490px;
    margin: 0 .75px;
    padding: 0;
    
}
.carousel-slide h3, h4{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #222;
    color:#ffff;
    padding: 10px 0;
    
}
.carousel-slide span, a{
    color: tomato;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    background-color: #222;
}

/*FEEDBACK SETTINGS*/
.testimonial{
    text-align: center;
    background-color: #222;
    display: inline-block;
    
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.testimonial h2{
    text-align: center;
    color: #ffff;
    padding: 25px;
    background-color: rgb(25, 206, 206);
    border: teal 1px solid;
}
.comment-box{
    display: inline-flex;
    background-color: #222;
    width: 98%;
    height: 15%;
    text-align: center;
    margin:  0.1% 1%;
    border-top: #aaa solid 2px;
    border-bottom: #aaa solid 2px;;
   overflow: hidden;
}

.comments{
    
    width: 100%;
    height: auto;
    display: block;
    margin: .2%;
    padding: 0;
    ;
    animation: 60s slide infinite linear;background-color: #222
}

.comments p{
    text-align: justify;
    color:#eee;
    background-color: #222;
    width: 700px;
    height: 60px;
    font-size: 15px;
    font-style: italic;
    margin: 0;
    padding-left: 10px;
}

.comments h4{
    text-align: left;
    font-style: italic;
    color:#eee;
    
    border-bottom: #888;
    margin: 0;
    padding-left: 10px;
    width: 800px;
}


.comments span{
    text-align: right;
    font-style: italic;
    color:#eee;
    background-color: #222;
    border-bottom: #888;
    margin: 0;
    padding: 0;

}

/*FOOTER*/
footer{
    display: flex;
    flex-wrap: nowrap;
    background-image: url(..//media/images/bg/bg-wood.jpg);
    width: 100%;
}
.send-btn-cont, .links, ul, h3{
    background: inherit; 
    color: #eee;
    
}
.links, .send-btn-cont{
    width: 100%;
    margin: 0 15px;
}

.links ul {
    background: none;
    display: list-item;
    font-size: 15px;
    color: #eee;text-decoration: none;
}
.links li a{
    background-image: url(..//media/images/bg/bg-wood.jpg);
    width: 100%;
    display: list-item;
    font-size: 15px;
    color: #eee;text-decoration: none;
}
 .message {
    background-color:#222;
    width: 350px;
    padding: 10px;
    color:#eee;
    border: #aaa 1px solid;
    border-radius: 5px;
    display: grid;
    position: absolute;
    bottom: -100%;
    left: 50%;
    color: #eee;
    margin: 0 10px;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(.2);
    transition: 1s ease-in-out;
    
 }
 

 .message-active{
    background-color:#222;
    width: 350px;
    padding: 10px;
    color:#eee;
    border: #aaa 1px solid;
    border-radius: 5px;
    display: grid;
    position: absolute;
    bottom: -100%;
    left: 50%;
    color: #eee;
    margin: 0 10px;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    transition: 1s ease-in-out;
    
 }
 form,.message label, h3{
    background-color: #222;
    color: #eee;
 }

.message form input[type="text"], input#email,
.message form textarea[name="write-message"]{
    margin-top: 3px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: medium;
    outline: #eee;
    border: #aaa 1px solid;
    border-radius: 10px;
    color: #eee;
    background-color:#222;
}
.message form input[type="submit"]{
    margin-top: 3px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: medium;
    outline: #eee;
    border: #aaa 1px solid;
    border-radius: 10px;
    color: #eee;
    background-color:teal;
    font-weight: 700;
}

.message form label{
    color:#eee;
    background-color: #222;
    font-size: 18px;
}

#msg-close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #eee;
    font-size: 20px;
    background-color: red;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 10px;
    
}

#msg-send{
    margin-left: 80%;
    
}


/*Menu-Page*/
.menu-category{
    
    align-items: center;
    width:100%;
    height:auto;
    text-align: center;
    background-color: rgb(0,0,0);
    align-content: center;
}


.menus{
    background-image: url(../media/images/bg/bg-botanical.jpg);
    
    background-color: #000000;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    width: 98%;
    margin:  0.25% 1%;
    border-top: 1.5px solid white;
    border-bottom: 1.5px solid white;
    
}

.menu-box{
    
    text-align: center;
    margin: .5% 1.5%;
    background-color: #000000;
    align-content: center;
    width: 20%;
    border: 1.5px  solid rgb(0,0,0);
}
.menu-box img{
    width: 100%;
    height: 290px;
    border-radius: 50%;
    
   }
   .menu-box h4{
    text-transform: capitalize;
    font-weight: bold;
   }
   .menu-box p{
    text-align: left;
    font-style: italic;
    padding: 5%;
    border-top: #000000;
   }
   .menu-box h4 span{
    color: tomato;
    font-style: oblique;
    background-color: #222;
}

.menu-heading h4:after{
    position: absolute;
    content: '';
    width: 300%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
.menu-heading h4{
    display: inline-block;
    text-transform: uppercase;
    font-size: 36px;
    margin:20px 0;
    padding-bottom: 30px;
    position: relative;
    color:rgb(255, 255, 255) ;
    background-color: #000000;
    
   
}
.menu-heading p{
    color: white;
    background-color: #000000;
    font-style: italic;
}
.menu-heading{
    max-width: 35%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1%; 
    color:rgb(111, 78, 55) ;
    background-color: #000000;
}


/*Events Page*/
.car-container{
    color: #eee;
    background-color: #222;
    display: flex;}

.past-events, .col-md-3, .upcoming-events{
    color: #eee;
    background-color: #222;
    display: inline;
    margin: 20px;}

.past-events h3, .upcoming-events h3{
    color: #eee;
    background-color: #222;
    border-bottom: 1px solid #eeee;
}

ul{
    list-style-type:none;
    background-color: #222;
    margin: 0;
    padding: 0;
    }
li{
    color: #eee;
    background-color: #222;
}


/* CAROUSEL SETTINGS*/
.container{
    background-color: #222;
    width: 100%;
    display: flex;
    color: #eee;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-caption, .carousel-indicators{
    background: none;
}
.carousel-caption h3{
    background: transparent;
    font-size: 80px;
}
.carousel-caption p{
    background: transparent;
    color: #eee;
}
.date{
    background: none;
    color: #222;
}
/*About Page*/
p{
    text-align: justify; 
    padding: 0 15px;
}
.about-container{
    border:1px solid #222
}

.coffee-img{
    width: 250px;
    height: 250px;
    background: none;
}

.coffee-img img{
    width: 100%;
    height: 100%;
    background: none;
}

.coffee-text{
    width: 900px;
    height: 250px;
    background: none;}
    
.coffee-text h3{
    border-bottom: #eee 1px solid;
   color: #eee;
    padding: 0  10px;
    background: none;
}

.coffee-text p{
    background: none;
    padding: 0  10px;
    text-align: justify;
    color: #eee;
    
    
}

.bucks, .peets, .lava{
    display: flex;
    margin-top: 5px;
    background: none;
}
.coffee-box, h2{
    background-image: url(../media/images/bg/bg-\ chalk.jpg);
    background-color: #222;
    color: #eee;
    margin: 25px 0;
}
.about-container h3{
    color: #eee;
    padding: 15px;
}
.about-container h1{
    color: #eee;
    background-image: url(../media/images/bg/bg-\ chalk.jpg);
    background-color: #222;
    padding: 15px;
}